<div id="login-form" class="mdl-shadow--4dp mdl-color--lime-300">
  <h1 class="mdl-layout-title"><%=l(:label_password_lost)%></h1>

  <%= form_tag(lost_password_path) do %>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="mail"><%=l(:field_mail)%><span class="required">*</span></label>
      <%= text_field_tag 'mail', nil, :size => 40, class: 'mdl-textfield__input' %>
    </div>
    <%= submit_tag l(:button_submit), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--green-700" %>
  <% end %>
</div>
