<div id="wrapper3">
  <% if User.current.logged? -%>
    <div class="layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <div class="mdl-layout__drawer mdl-color--blue-grey-700 mdl-color-text--blue-grey-50">
        <header>
          <nav class="mdl-navigation">
            <label id="user-menu" class="mdl-js-button">
              <%= avatar User.current, size: '60' -%>
            </label>
            <div id="account">
              <%= render_menu_with_material_and_icons :account_menu -%>
            </div>
          </nav>
          <%= render_menu_with_material_and_icons :top_menu if User.current.logged? || !Setting.login_required? -%>
        </header>
      </div>

      <header class="mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
        <div id="header">
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><%= page_header_title %></span>
            <div class="mdl-layout-spacer"></div>
            <% if User.current.logged? || !Setting.login_required? -%>
              <div id="quick-search">
                <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do -%>
                  <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope -%>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for='q'>
                      <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                      <label for='q'>
                        <%= text_field_tag 'q', @question, :size => 20, :class => 'mdl-textfield__input', :accesskey => accesskey(:quick_search) -%>
                      </label>
                    </div>
                  </div>
                <% end -%>

                <% unless User.current.projects.active.select(:id, :name, :identifier, :lft, :rgt).to_a.empty? -%>
                  <button id="project-jump-nav" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">work</i>
                  </button>
                  <ul class="project-jump-nav scrollable-menu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="project-jump-nav">
                    <% User.current.projects.active.select(:id, :name, :identifier, :lft, :rgt).to_a.each do |project| -%>
                      <%= link_to project.name, project_path(id: project.id, jump: current_menu_item), class: 'mdl-menu__item' -%>
                    <% end -%>
                  </ul>
                <% end -%>
              </div>
            <% end -%>
          </div>

          <% if display_main_menu?(@project) -%>
            <div id="main-menu">
              <%= render_main_menu(@project) -%>
            </div>
          <% end -%>
        </div>
      </header>

      <div class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <div id="main" class="<%= sidebar_content? ? '' : 'nosidebar' %>">
              <div id="content">
                <div class="mdl-cell <%= sidebar_content? ? 'mdl-cell--12-col' : 'mdl-cell--12-col' %> mdl-cell--12-col-tablet">
                  <div id="block">
                    <%= render_flash_messages -%>
                    <%= yield -%>
                    <%= call_hook :view_layouts_base_content -%>
                  </div>
                  <div style="clear:both;"></div>
                </div>
              </div>

              <div id="sidebar">
                <div class="mdl-cell <%= sidebar_content? ? 'mdl-cell--12-col mdl-cell--12-col-phone' : '' %>">
                  <%= yield :sidebar -%>
                  <%= view_layouts_base_sidebar_hook_response -%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else -%>
      <style>body {background: #4CAF50 !important;}</style>
      <div class="mdl-grid" style="background: #4CAF50 !important;">
        <div class="mdl-cell mdl-cell--12-col">
          <% if URI(request.url).path == '/account/lost_password' -%>
            <%= render partial: 'account/lost_password' -%>
          <% else -%>
            <%= render partial: 'account/login' -%>
          <% end -%>
        </div>
      </div>
    </div>
  <% end -%>
</div>
